.main{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

*{
  background-color: orange;
  
}
.name{
  font-style:italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: wheat;
}
.adresse{
  font-style:italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: wheat;
}